body {
    font-family: Inter, sans-serif;
}

.background-image {
    width: 1512px;
    height: 939px;
    background-image: url(../image/Rectangle\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.menu-container {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-transform: capitalize;
    padding-top: 80px;
    margin-left: 250px;

}


.menu {
margin-right: 16px;
color:#FFFFFF;
text-decoration: none;


}

.menu2 {
    margin-left: 15px;
    word-spacing: 30px;

}




.text-container {
    width: 1175px;
    height: 405px;
    position: absolute;
    top: 1006px;
    left: 167px;
    letter-spacing: 0.06em;
    text-align: left;
   

}


.large-text,
.middle-text {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;


}

.large-text {
    font-size: 60px;
    line-height: 72.61px;


}

.middle-text {

    font-size: 50px;
    line-height: 60.51px;


}

.combined-text {

    font-size: 40px;
    line-height: 48.41px;
    letter-spacing: 0.07em;
   
}

.bold-text {
    font-weight: 700;
}

.red-text {
    color: #E93434;

}



.background-image2 {
    width: 1512px;
    height: 811px;
    margin-top: 15px;
    background-image: url(../image/Rectangle\ 79.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -159px;

}


.text-box {
    width: 807px;
    height: 707px;
    top: 1540px;
    left: 167px;
    position: absolute;
    top: 140%;
    left: 0px;
    background-image: url(../image/image\ ke\ peeche.png);



}


.image2 {
    top: 1652px;
    left: 1008px;
    width: 504px;
    height: 429px;
    border-radius: 50px 0px 0px 50px;
    background-image: url(../image/image\ 26.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 165%;
    left: 72%;
}



.image3 {
    width: 430px;
    height: 652px;
    top: 2380px;
    background-image: url(../image/image\ 8.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 1470px;
    left: -160px;



}


.text-container3 {
    display: inline-block;
    position: absolute;
    left: 26%;
    top: 380%;



}


.big-text {
    width: 549px;
    height: 97px;
    top: 2433px;
    left: 473px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.07em;
    color: #000000;


}

.smol-text { 
    width: 871px;
    height: 329px;
    top: 2530px;
    left: 473px;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
    letter-spacing: 0.06em;
    text-align: justify;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px #00000040;

}


.title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.06em;
    color: #000000;
    position: relative;
    top: 150px;
    left: -350px;

}

.title2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    position: relative;
    top: 130px;
    left: -280px;

}

.image4 {
    width: 1512px;
    height: 772px;
    top: 3254px;
    left: 9px;
    background: #FFFFFF;
    background-image: url(../image/heros\ frame.png);
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    left: -32%;


}

.title3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    position: relative;
    top: 110px;
    left: -270px;


}

.image5 {
    width: 1507px;
    height: 600px;
    top: 4084px;
    left: 9px;
    background: #FFFFFF;
    background-image: url(../image/Frame\ 5.png);
    background-repeat: no-repeat;
    position: relative;
    top: 80px;
    left: -450px;


}

.title4 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    position: relative;
    top: 80px;
    left: -270px;



}

.image6 {
    width: 1513px;
    height: 640px;
    top: 4796px;
    left: -1px;
    background: #FFFFFF;
    background-image: url(../image/Frame\ 6.png);
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    left: -450px;

}

.background-image3 {

    height: 790px;
    top: 5470px;
    background-image: url(../image/Rectangle\ 78.png);
    background-repeat: no-repeat;
    position: relative;
    top: 80px;
    left: -465px;


}

.text-container4 {
    font-family: Inter, sans-serif;
    display: inline-block;
    padding: 120px 147px;
    color: #FFFFFF;
    text-align: left;

}

.big-text1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.06em;
   
   

}

.smol-text2 {
    width: 751px;
    height: 177px;
    top: 5722px;
    left: 171px;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
    letter-spacing: 0.14em;
   

}



.title5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #FFFFFF;
   

}

.image7 {
    width: 504px;
    height: 429px;
    top: 5636px;
    background-image: url(../image/Rectangle\ 24.png);
    top: 160px;
    right: 0px;
    background-repeat: no-repeat;
    position: absolute;
}

section {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 500px;
    left: 150px;
}

.youtub,
.facebook,
.in,
.instagram,
.twitter {
    margin-right: 20px;
    background-repeat: no-repeat;


}

.youtub {
    width: 22px;
    height: 22px;
    top: 5966px;
    left: 171px;
    background-image: url(../image/icons8-youtube-22.png);
    background-repeat: no-repeat;

}



.facebook {
    width: 17px;
    height: 17px;
    top: 5966px;
    left: 207px;
    background-image: url(../image/bi_facebook.png);
    color: #427EF2;

}

.in {
    width: 17px;
    height: 17px;
    top: 5966px;
    left: 236px;
    padding: 0.71px;
    color: #427EF2;
    background-image: url(../image/akar-icons_linkedin-box-fill.png);

}

.instagram {
    width: 17px;
    height: 17px;
    top: 5966px;
    left: 265px;
    padding: 0px 0.42px 1.42px 1px;
    color: #0D0C0D8A;
    background-image: url(../image/akar-icons_instagram-fill.png);
}

.twitter {
    width: 17px;
    height: 17px;
    top: 5966px;
    left: 296px;
    padding: 1.95px 0.25px 1.98px 0.66px;
    background-image: url(../image/akar-icons_twitter-fill.png);

}


